<h3>ParentComponent</h3>


<button @onclick="( () => 
{
    // 3) Use the member of a child type to do anything it can
    Child?.DisplayChild();
})">
Show/Hide Child component
</button>

@* 2) Reference the child type with exact member name*@
<ChildComponent @ref="@Child"></ChildComponent>


@code {
    // 1) Create private member of a child type
    private ChildComponent? Child;
}
