<h3>RenderFragmentComponent</h3>

@* 2) Use RenderFragment member *@
@Fragment

@code {
    // 1) Define RenderFragment member
    [Parameter]
    public RenderFragment Fragment { get; set; } = default!;
}
