@*
    Each page must have @page directive
    Page component is a routable component and must be routable
    Page component can have multiple routs, but one route can't be for multiple pages
*@
@page "/examplepage"

<h3>ExamplePage</h3>

<br/>
<br/>
Today is:&nbsp;

@*This is component added to the page (closing tag can't be simplyfied')*@
<TimeComponent></TimeComponent>

@*This is page component added to the page*@
<Index />

@code {

}
