@*
    Each page must have @page directive
    Page component is a routable component and must be routable
    Page component can have multiple routs, but one route can't be for multiple pages
*@
@page "/examplepage"

@*For passing parameter example*@
@using BlazorFreeCodeCamp.Components.PassingParameters
@*For cascading parameter example*@
@using BlazorFreeCodeCamp.Components.CascadingParameters

@* Or full path 
@inherits Components.BaseComponents.DateTimeBaseComponent 
- it depeds if we are using _Imports.razor page to import this namespace there
*@
@inherits DateTimeBaseComponent

@*
    HTML markup section has responsibility for how the page looks
*@

<h3>ExamplePage</h3>

<br/>
<br/>
Today is:&nbsp;
@*This is component added to the page (closing tag can't be simplyfied')*@
<TimeComponent></TimeComponent>
<br/>
@*Inherited component public variable*@
Today is:&nbsp; @dateTime

<br/>
<br/>
@*This is page component added to the page*@
<Index />

<br/>
<br/>
@*Passing parametr example*@
<TitleComponent TeamName="Arsenal"></TitleComponent>

<br/>
<br/>
@*
    Cascading parameter example
    - Can only be cascaded down
*@
<CascadingValue Name="ExamplePageCounter" Value="@Counter">
    @* For cascading static value we can pass it with IsFixed attribute for better performance *@
    <CascadingValue Name="ExamplePageColor" Value=@("blue") IsFixed="true">
        <TopLevelComponent />
    </CascadingValue>
</CascadingValue>

@*
    C# code block has responsibility for UI logic
*@
@code {
    public int Counter = 1;
}

@*
    We can have multiple code regions
*@
@code{

}
