@*
    Each page must have @page directive
    Page component is a routable component and must be routable
    Page component can have multiple routs, but one route can't be for multiple pages
*@
@page "/examplepage"

<h3>ExamplePage</h3>

@code {

}
