@*
    Route with parameters
*@
@page "/team/{id:int}"
@using BlazorFreeCodeCamp.Services
@using BlazorFreeCodeCamp.ViewModels

@* 4) Inject the service *@
@inject IPersonService personService

<h3>Team Members</h3>

@foreach (var teamMember in _persons)
{
    if (teamMember.Id == this.Id)
    {
        @teamMember.FirstName @("  ") @teamMember.LastName
    }
}

@code {
    // Team Id, if we want to use route parameter we need to add this attribute [Parameter]
    [Parameter]
    public int Id { get; set; }

    public List<PersonViewModel> _persons = new();

    protected override void OnInitialized()
    {
        base.OnInitialized();

        // 5) Use the service
        _persons = personService.GetAllPeople();
    }
}
